<% invoices = invoices.accessible_by(current_ability) %>
<% team = @team %>
<% context ||= team %>
<% collection ||= :invoices %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, invoices = pagy(invoices, page_param: :invoices_page) unless pagy %>

<%= action_model_select_controller do %>
  <% cable_ready_updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |box| %>
      <% box.title t(".contexts.#{context.class.name.underscore}.header") %>
      <% box.description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless invoices.any?}") %>
        <%= render "shared/limits/index", model: invoices.model %>
      <% end %>

      <% box.table do %>
        <% if invoices.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.number.heading') %></th>
                <th><%= t('.fields.issue_date.heading') %></th>
                <th><%= t('.fields.sale_date.heading') %></th>
                <th><%= t('.fields.payment_date.heading') %></th>
                <th><%= t('.fields.netto.heading') %></th>
                <th><%= t('.fields.vat_rate.heading') %></th>
                <th><%= t('.fields.vat.heading') %></th>
                <th><%= t('.fields.brutto.heading') %></th>
                <th><%= t('.fields.status.heading') %></th>
                <th><%= t('.fields.buyer_nip.heading') %></th>
                <th><%= t('.fields.buyer_name.heading') %></th>
                <th><%= t('.fields.seller.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'account/invoices/invoice', collection: invoices %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% box.actions do %>
        <% unless hide_actions %>
          <% if context == team %>
            <% if can? :create, Invoice.new(team: team) %>
              <%= link_to t('.buttons.new'), [:new, :account, team, :invoice], class: "#{first_button_primary(:invoice)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" if invoices.any? %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:invoice)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% box.raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
